<div id="admin-panel">
    <% if user_signed_in? %>
        <%= form_for @microsite, url: create_microsite_path do |f| %>
            <% flash.each do |key, value| %>
                <%= content_tag :div, value, class: "flash #{key}" %>
            <% end %>
            <p>
            <%= f.label :microsite_id %><br>
            <%= f.text_field :microsite_id %>
            </p>

            <p>
            <%= f.label :site %><br>
            <%= f.text_field :site %>
            </p>

            <p>
            <%= f.label :field_lat %><br>
            <%= f.text_field :field_lat %>
            </p>

            <p>
            <%= f.label :field_lon %><br>
            <%= f.text_field :field_lon %>
            </p>

            <p>
            <%= f.label :location %><br>
            <%= f.text_field :location %>
            </p>

            <p>
            <%= f.label :country %><br>
            <%= f.country_select :country %>
            </p>

            <p>
            <%= f.label :state_province %><br>
            <%= f.text_field :state_province %>
            </p>

            <p>
            <%= f.label :biomimic %><br>
            <%= f.select :biomimic, options_for_select(["Barnacle", "Coral", "Mussel", "Sea Star"]) %>
            </p>

            <p>
            <%= f.label :zone %><br>
            <%= f.text_field :zone %>
            </p>

            <p>
            <%= f.label :sub_zone %><br>
            <%= f.select :sub_zone, options_for_select(["Backreef", "Forereef", "High", "High Mid", "Lagoon", "Low", "Low Mid", "Mid", "Terr"])  %>
            </p>

            <p>
            <%= f.label :wave_exp %><br>
            <%= f.select :wave_exp, options_for_select(["Exposed", "Intermediate",         "Moderately Exposed", "Protected"]) %>
            </p>

            <p>
            <%= f.label :tide_height %><br>
            <%= f.text_field :tide_height %>
            </p>

            <p>
            <%= f.submit %>
            </p>

        <% end %>
        <%= form_for(:microsite, url: destroy_microsite_path, html: { multipart: true }) do |f| %>
            <%= f.select :id, options_for_select(Microsite.all.collect {|m| [m.microsite_id, m.id]}.sort) %>
            <%= f.submit "Destroy Microsite" %>
        <% end %>
        <%= form_for(:reading, url: upload_readings_path, html: { multipart: true }) do |f| %>
            <%= select_tag :microsite_id, options_for_select(Microsite.all.collect {|m| [m.microsite_id, m.id]}.sort) %>
            <%= select_tag :date_format, options_for_select(["DayMonthYear", "MonthDayYear", "YearMonthDay"]) %>
            <%= file_field(:file, :data, accept: "text/plain") %>
            <%= submit_tag "Upload text File" %>
        <% end %>
    <% end %>
</div>

<header>
    <h1>Helmuth Lab Database</h1>

    <% if user_signed_in? %>
        <div id="admin-login" class="logged-in">
            <span id="current-user"><%= current_user.email %></span>
            <%= link_to('Log Out', destroy_user_session_path, method: :delete, class: "generic-button") %>
        </div>
    <% else %>
        <div id="admin-login" class="logged-out">
            <%= link_to('Log In', new_user_session_path, class: "generic-button") %>
        </div>
    <% end %>
</header>

<table class="table table-hover table-bordered">
  <tr>
    <th>Microsite Id</th>
    <th>Site</th>
    <th>Field Lat</th>
    <th>Field Lon</th>
    <th>Location</th>
    <th>Country</th>
    <th>State Province</th>
    <th>Biomimic</th>
    <th>Zone</th>
    <th>Sub Zone</th>
    <th>Wave Exp</th>
  </tr>

<% @search_data.each do |microsite| %>
  <tr>
    <td><%= microsite.microsite_id %></td>
    <td><%= microsite.site %></td>
    <td><%= microsite.field_lat %></td>
    <td><%= microsite.field_lon %></td>
    <td><%= microsite.location %></td>
    <td><%= microsite.country %></td>
    <td><%= microsite.state_province %></td>
    <td><%= microsite.biomimic %></td>
    <td><%= microsite.zone %></td>
    <td><%= microsite.sub_zone %></td>
    <td><%= microsite.wave_exp %></td>
  </tr>
<% end %>
</table>

<% if @search.pages > 1 %>
    <p>There are <%= @search.pages %> pages in total </p>
<% end %>
<br />

<%= form_for @search, :url => "/pages/home", :html => {:class => "form-inline main-search"} do |f| %>
    <div class="form-group">
        <%= f.label 'Site' %>
        <%= f.text_field 'site', placeholder: "Site", class: 'form-control input-sm' %>
    </div>
    <div class="form-group">
        <%= f.label 'State/Province' %>
        <%= f.text_field 'state_province', placeholder: "State/Province", class: 'form-control input-sm' %>
    </div>
    <div class="form-group">
        <%= f.label 'Zone' %>
        <%= f.text_field :zone, placeholder: "Zone", class: 'form-control input-sm' %>
    </div><br>
    <div class="form-group">
        <%= f.label 'Country' %>
        <%= f.select :country, @country, {:prompt => "Country"}, {:multiple => true, :class => "select", :id => "country"} %><br>
    </div>
    <div class="form-group">
        <%= f.label 'Biomimic' %>
        <%= f.select :biomimic, @biomimic, {:prompt => "Biomimic"}, {:multiple => true, :class => "select", :id => "biomimic"} %><br>
    </div>
    <div class="form-group">
        <%= f.label :sub_zone %>
        <%= f.select :sub_zone, @sub_zone, {:prompt => "SubZone"}, {:multiple => true, :class => "select", :id => "sub_zone"} %><br>
    </div>
    <div class="form-group">
        <%= f.label :wave_exp %>
        <%= f.select :wave_exp, @wave_exp, {:prompt => "Wave Exposure"}, {:multiple => true, :class => "select", :id => "wave_exp"} %><br>
    </div><br>
    <%= f.submit "Search", class: "btn btn-default btn-md main-search-submit" %>
    <%= link_to('Export CSV', {controller: "readings", format: :csv}, class: "btn btn-default btn-md main-search-submit")%>
<% end %>

<div id="map" data-microsites="<%= @hash.to_json %>"></div>
