<header>
    <h1>Helmuth Lab Database</h1>

    <% if user_signed_in? %>
        <div id="admin-login" class="logged-in">
            <span id="current-user"><%= current_user.email %></span>
            <%= link_to('Log Out', destroy_user_session_path, method: :delete, class: "generic-button") %>
        </div>
    <% else %>
        <div id="admin-login" class="logged-out">
            <%= link_to('Log In', new_user_session_path, class: "generic-button") %>
        </div>
    <% end %>
</header>

<div id="map" data-microsites="<%= @hash.to_json %>"></div>

<div id="filters">
    <%= select(:microsite, :site, @sites, {:prompt => "Site"}, {:multiple => true}) %>
    <%= select(:microsite, :country, @country, {:prompt => "Country"}, {:multiple => true}) %>
    <%= select(:microsite, :state_province, @state_province, {:prompt => "State/Province"}, {:multiple => true}) %>
    <%= select(:microsite, :zone, @zone, {:prompt => "Zone"}, {:multiple => true}) %>
    <%= select(:microsite, :sub_zone, @sub_zone, {:prompt => "SubZone"}, {:multiple => true}) %>
</div>
