<header>
    <h1>Helmuth Lab Database</h1>

    <% if user_signed_in? %>
        <div id="admin-login" class="logged-in">
            <span id="current-user"><%= current_user.email %></span>
            <%= link_to('Log Out', destroy_user_session_path, method: :delete, class: "generic-button") %>
        </div>
    <% else %>
        <div id="admin-login" class="logged-out">
            <%= link_to('Log In', new_user_session_path, class: "generic-button") %>
        </div>
    <% end %>
</header>

<div id="map" data-microsites="<%= @hash.to_json %>"></div>

<div id="filters">
    <%= select(:microsite, :site, Microsite.all.collect {|m| m.site}.uniq.sort, { include_blank: 'Site' }) %>
    <%= select(:microsite, :country, Microsite.all.collect {|m| m.country}.uniq.sort, { include_blank: 'Country'}) %>
    <%= select(:microsite, :state_province, Microsite.all.collect {|m| m.state_province}.uniq.sort, { include_blank: 'State/Province' }) %>
    <%= select(:microsite, :zone, Microsite.all.collect {|m| m.zone}.uniq.sort, { include_blank: 'Zone' }) %>
    <%= select(:microsite, :sub_zone, Microsite.all.collect {|m| m.sub_zone}.uniq.sort, { include_blank: 'SubZone' }) %>
</div>

<%= line_chart Microsite.all.collect { |m|
    {name: m.id, data: Reading.where(microsite_id: m.id).collect { |r|
        [r.timestamp, r.temperature]
    }}
},
id: "temp-graph",
library: {
    chart: {
        panning: true,
        panKey: 'shift',
        zoomType: "x"
    },
    tooltip: {valueSuffix: "ยบ"},
    yAxis: {
        title: {text: "Temperature (C)"},
        labels: {format: "{value}ยบ"}
    }
}%>
